*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #152238;
 
}

/* NAVbar designing */
.navbar-box{
  background-color: #152238;
  font-family: 'Sono', sans-serif;
}
 .nav-scroll{
 
  overflow-x: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.nav-scroll li{
  font-family: 'Sono', sans-serif; 
}
 .nav-scroll::-webkit-scrollbar { 
  display: none; 
 } 
 .icons{
  font-size: 2rem;
  color: white;
 }
.nav-logo{
  background-color: #767474;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  padding: 8px;
  border-radius: 20px;
}
.nav-logo:hover{
  color: #152238;
}
.menu{
  display: flex;
  flex-direction: row;
}

/* movie item */
.movieItem{
background-color: #152238;
color: white;
transition: transform .2s;
}
.movieItem:hover{
  transform: scale(1.05);
  z-index: 1;
}




/* media queries */

@media screen and (max-width: 984px) {
 .nav-logo{
  display: inline-block;
  margin: auto;
 }
 .menu{
  margin: auto;
   }
}



.navigations{
  transition: all 0.2s ease-in;
}


.scale-up {
  transform: scale(1.2);
}
.scale-down {
  transform: scale(0.8);
}
.navDisplaynone{
visibility: hidden;
}
.navDisplayon{
visibility: visible;
}

